*{
    box-sizing: border-box;
}

body{
    background-color: #1c1c1c;
    color: #ffffff;
}
.container{
    display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 90vh;
}
table,th,td{

    border: 1px solid white;
}