*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #212121;
    color: white;
}
#date{
    font-size: 40px;
    background-color: orange;
    padding-top: 20px 40px;
    margin-top: 10px;
    border-radius: 10px;
}